.footer {
  background-color: #2f303a;
  background-size: contain;
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.foter-conteiner {
  @media screen and (max-width: 1199px) {
    align-items: baseline;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.footer-logo__web {
  color: var(--accent-color);
}
.footer-logo__studio {
  color: var(--second-color);
}
.footer-contacts__item {
  padding-bottom: 9px;
}
.footer-contacts__link-addres {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-contacts__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}
.footer-social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-social__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-forms {
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-left: 95px;
  }
}
.footer__desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form {
    display: flex;
  }
}
.form__email {
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  resize: none;
  cursor: pointer;
  background-color: #2f303a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  @media screen and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 145px;
  }
  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
.form__email-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form__btn {
  margin-left: 15px;
  @media screen and (max-width: 767px) {
    margin-left: 135px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 270px;
  }
  @media screen and (max-width: 479px) {
    margin-left: auto;
  }
}
.form__icon-send {
  margin-left: 10px;
  fill: var(--second-color);
}
.footer-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
