.header {
  background-color: var(--second-color);
  border-bottom: 1px solid #eeeeee;
}
.header__conteiner {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
.contacts {
  margin-left: auto;
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1200px) {
    display: flex;
  }
}
.contacts__item {
  @media (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.header__logo {
  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media (min-width: 768px) {
    margin-right: 85px;
  }
  @media (min-width: 1200px) {
    margin-right: 95px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__logo {
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo__web {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--Ð¼ain-color);
  display: block;
  padding: 32px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.site-nav__link.site-nav__link-activ::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  left: 0;
}
.site-nav__link.site-nav__link-activ {
  content: "";
  color: var(--accent-color);
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
