.section__padding-top {
  padding-top: 0;
}
.working {
  display: flex;
}
.working__item:not(:last-child) {
  margin-right: 30px;
}
.working__item {
  position: relative;
}
.working__item > .work__desc {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--second-color);
}
@media screen and (max-width: 1199px) {
  .conteiner__none {
    display: none;
  }
  .section__none {
    display: none;
  }
}
