.menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn__icon {
  color: #000000;
}
.menu-btn__icon {
  fill: currentColor;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--second-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--second-color);
}
.mobile-menu {
  list-style: none;
}
.mobile-menu .mobile-menu__link {
  display: block;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--Ð¼ain-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__tel {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  @media screen and (max-width: 479px) {
    font-size: 26px;
    line-height: 1.16;
  }
}
@media screen and (max-width: 767px) {
  .mobile-contacts__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.mobile-social {
  display: flex;
  margin-top: 65px;
}
.mobile-social__link {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  @media screen and (max-width: 479px) {
    font-size: 14px;
  }
}
.mobile-socialks__span {
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
  @media screen and (max-width: 479px) {
    margin-right: 3px;
    margin-left: 3px;
  }
}
